[Unit]
Description=Run music-file-playlist-online-sync worker periodically every 5 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target